/* ========================================
   |               List             |
   ======================================== */
   table {
    width: 100%;
    border-collapse: collapse;
}

/* Alternating background colors for gameId groups */
.game-group-1 {
    background-color: #f2f2f2; /* Light gray for the first group */
}

.game-group-2 {
    background-color: #ffffff; /* White for the second group */
}

th, td {
    padding: 8px;
    border: 1px solid #b4afaf;
    text-align: center;
    font-size: 1rem;
    color: #333;
}

th {
    background-color: #4caf50;
    color: #fff;
}

/* Caption styling */
caption {
    font-size: 1.3rem;
    margin-bottom: 3%;
    text-align: start;
}

/* Scroll the entire table if necessary (not individual rows) */
table {
    overflow-y: auto;
}

/* CSS to hide game rows */
.hidden {
    display: none;
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
    table {
        table-layout: fixed;
        width: 100%;
        overflow-x: auto;
    }

    th, td {
        font-size: 0.85rem;
        padding: 4px;
    }

    button {
        width: 100px;
    }

    h2 {
        font-size: 1.2rem;
    }
}

/* Additional styling for better mobile view */
@media (max-width: 600px) {
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    th, td {
        padding: 8px 12px;
    }
}
